#pagination
{
    width: 100%;
    height: auto;
}

#pagination span
{
    display: block;
    float: left;
    text-align: center;
    width: 20px;
    padding: 2px;
    margin: 2px;
    border: 1px solid white;
}

#pagination span:hover,
#pagination span.selected
{
    background-color: #078dda;
    cursor: pointer;
}

#results-table
{
    width: 100%;
    height: auto;
    overflow: scroll;
    margin-top: 20px;
}

#results-table table
{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

#results-table th
{
    background-color: black;
}

#results-table td div
{
    height: 20px;
    white-space: nowrap;
}

#results-table td:nth-of-type(1n+11) div
{
    height: 20px;
    overflow: scroll;
    white-space: pre-wrap;
}