@-ms-keyframes fly {
  0% {
    visibility: visible;
    -ms-transform: rotateY(30deg) rotateZ(-20deg);
  }
  24% {
    -ms-transform: rotateY(90deg) rotateZ(-6deg);
  }
  48% {
    -ms-transform: rotateY(150deg) rotateZ(0deg);
  }
  72% {
    -ms-transform: rotateY(210deg) rotateZ(6deg);
  }
  96% {
    -ms-transform: rotateY(270deg) rotateZ(-20deg);
  }
  100% {
    -ms-transform: rotateY(280deg) rotateZ(-20deg);
  }
}

@-ms-keyframes left-flap {
  0% {
    -ms-transform: rotateX(0deg) rotateY(0deg);
  }
  25% {
    -ms-transform: rotateX(-30deg) rotateY(-80deg);
  }
  50% {
    -ms-transform: rotateX(0deg) rotateY(0deg);
  }
  75% {
    -ms-transform: rotateX(-30deg) rotateY(-80deg);
  }
  100% {
    -ms-transform: rotateX(0deg) rotateY(0deg);
  }
}

@-ms-keyframes right-flap {
  0% {
    -ms-transform: rotateX(0deg) rotateY(0deg);
  }
  25% {
    -ms-transform: rotateX(-30deg) rotateY(80deg);
  }
  50% {
    -ms-transform: rotateX(0deg) rotateY(0deg);
  }
  75% {
    -ms-transform: rotateX(-30deg) rotateY(80deg);
  }
  100% {
    -ms-transform: rotateX(0deg) rotateY(0deg);
  }
}

@-ms-keyframes gentle_wave {
  0% {
    -ms-transform: translateY(0px);
  }
  25% {
    -ms-transform: translateY(-10px);
  }
  50% {
    -ms-transform: translateY(0px);
  }
  75% {
    -ms-transform: translateY(-10px);
  }
  100% {
    -ms-transform: translateY(0px);
  }
}
